body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.nav {
  background-color: blue;
  height: 50px;
}

.inner-nav {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.h2 {
  text-align: center;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.p {
  margin: 0;
  display: inline-block;
  padding-top: 10px;
}

.footer {
  position: fixed;
  bottom: 0px;
  background-color: blue;
  width: 100%;
}

.inner-footer {
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.formblock {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  background-color: rgb(165, 180, 247);
  box-sizing: border-box;
  padding: 30px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 3px 3px 3px 3px rgb(206, 202, 202);
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: small;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  padding-left: 5px;
}

.formbox {
  margin-bottom: 10px;
}

#submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: blue;
  border-radius: 5px;
  padding: 5px 15px;
  border-color: blue;
  cursor: pointer;
  color: white;
}

.result {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: rgb(165, 180, 247);
  padding: 20px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;

}

.block {
  display: block;
}

.datablock {
  margin-bottom: 10px;
  padding: 10px;
  background-color: blue;
  color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgb(247, 244, 244);
}

.label {
  font-size: 14px;
}

.res {
  font-weight: bold;
  font-size: 20px;
  padding-left: 10px;
}

@media (max-width:540px) {
  .formblock {
    width: 90%;
    margin-bottom: 40px;
  }

  .h2 {
    font-size: 20px;
    padding-top: 10px;
  }

  h3 {
    text-align: center;
  }

  .result {
    flex-direction: column;
    width: 80%;
    margin-bottom: 50px;
  }
}